<form #createProductForm = "ngForm" (ngSubmit)="submit(createProductForm)">
  <table>
    <tr>
      <td>Name</td>
      <td><input type="text" ngModel name="name"></td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td><input type="number" ngModel name="quantity"></td>
    </tr>
    <tr>
      <td>Image</td>
      <td><input type="text" ngModel name="image"></td>
    </tr>
    <tr>
      <td>Manufacturer</td>
      <td><input type="text" ngModel name="manufacturer"></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><input type="number" ngModel name="category"></td>
    </tr>
  </table>
  <button class="btc btn-primary">submit</button>
</form>
